
/*  General  */

a {
	color: #4194ff;
	text-decoration: none;
	cursor: pointer;
}

a:hover, a:focus {
	background-color: #4c9aff3b;
}

a:focus {
	text-decoration: underline;
}

a::selection {
	background-color: #22619ec2;
}

a:hover::selection {
	background-color: #ffffff0f;
}

/*  Headlines  */

.main_headline {
	font-size: 28px;
	font-style: italic;
	line-height: var(--main-headline-height);
	position: absolute;
	top: 0px;
	left: 12px;
}

.tall {
	font-size: 35px;
}

.headline_container {
	height: var(--headline-height);
	background-color: var(--headline-color);
	position: relative;
	z-index: 2;
}

.headline {
	font-size: 24px;
	line-height: var(--headline-height);
	position: absolute;
	top: 0px;
	left: 12px;
}

.headline_backlight {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-left: -18px;
	margin-top: -16px;
	margin-bottom: -29px;
	margin-right: -59px;
	background: radial-gradient(circle, rgb(255, 255, 255, 1.0) 0%, rgba(255, 255, 255, 0.4) 15%, rgba(255, 255, 255, 0.1) 35%, rgba(255, 255, 255, 0.0) 45%);
}

.headline_emote {
	width: 37px;
	vertical-align: middle;
	margin-left: 1px;
	margin-bottom: 7px;
	margin-right: 1px;
	position: relative;
	cursor: pointer;
}

/*  Header Buttons  */

#header_buttons_container_node {
	position: absolute;
	top: 11px;
	right: 0px;
}

.header_button {
	background-color: var(--button-color);
	font-size: 16px;
	color: #ffffff;
	padding: 4px 8px;
	display: inline-block;
	float: right;
	margin-right: 17px;
	border-radius: 7px;
	cursor: pointer;
}

.header_button:hover {
	background-color: var(--button-hover-color);
}

.header_button:active {
	background-color: var(--button-active-color);
}

/*  Headline Icons  */

.headline_icons {
	position: absolute;
	right: 3px;
	height: var(--headline-height);
}

.headline_icons svg {
	width: var(--headline-icon-size);
	height: var(--headline-icon-size);
	padding: calc((var(--headline-height) - var(--headline-icon-size)) / 2);
}

#hide_svg:hover #hide_svg_line_1,
#hide_svg:hover #hide_svg_line_2 {
	transform: scale(0.8, 0.8) rotate(0deg);
}
.hide_svg_transform #hide_svg:hover #hide_svg_line_1,
.hide_svg_transform #hide_svg:hover #hide_svg_line_2 {
	transform: scale(0.6, 0.6) rotate(0deg);
}

#hide_svg_line_1,
#hide_svg_line_2 {
	transition: all ease-in 0.2s;
	transform-origin: 8px 8px 0px;
	transform: scale(0.85, 0.85) rotate(0deg);
}

.hide_svg_transform #hide_svg_line_1,
.hide_svg_transform #hide_svg_line_2 {
	transform: scale(0.5, 0) rotate(0deg);
}


#settings_svg g {
	transition: all ease-in 0.2s;
	transform-origin: 50% 50% 0px;
	transform: rotate(0deg);
}

#settings_svg:hover g {
	transform: rotate(24deg);
}

/*  Resume Scroll Box  */

.resume_scroll_box {
	display: block;
	position: absolute;
	top: 54px;
	left: 0px;
	z-index: 1;
	box-sizing: border-box;
	margin: 8px 20px;
	padding: 4px 8px;
	width: calc(100% - 40px - var(--scrollbar-height));
	border-radius: 18px;
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 290%);
	text-align: center;
	color: #4c4c4c;
	cursor: pointer;
	opacity: 1;
	transition: opacity ease-in 0.2s;
}

.resume_scroll_hide {
	display: none;
}

.resume_scroll_force_hide {
	opacity: 0;
}
